* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    /* Colors */
    --main-color: #bc9667;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;

    /* Box Shadow*/
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}

section {
    padding: 50px 100px;
}

img {
    width: 100%;
}

body {
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 18px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    transition: 200ms linear;
}

header.shadow {
    background: var(--text-color);
    box-shadow: var(--box-shadow);
}

.logo img {
    width: 60px;
}

.navbar {
    display: flex;
}

.navbar a {
    padding: 8px 17px;
    font-size: 1rem;
    color: var(--bg-color);
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover {
    background-color: var(--main-color);
    border-radius: 0.2rem;
}

.header-icon {
    font-size: 22px;
    cursor: pointer;
    display: flex;
    column-gap: 0.8rem;
}

.header-icon .bx {
    color: var(--bg-color);
}

.header-icon .bx:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 24px;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

.search-box {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 0px 100px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
}

.search-box.active {
    opacity: 1;
    pointer-events: initial;
}

.search-box input {
    width: 100%;
    outline: none;
    border: none;
    padding: 20px;
    box-shadow: var(--box-shadow);
    font-size: 1rem;
    border-radius: 100px;
    font-weight: 500;
    color: var(--main-color);
}

.home {
    width: 100%;
    min-height: 100vh;
    background: url(img/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1{
    font-size: 3.4rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text p {
    color: var(--bg-color);
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
}

.btn {
    padding: 10px 40px;
    color: var(--bg-color);
    background-color: var(--main-color);
    font-weight: 500;
    border-radius: 0.3rem;
}

.btn:hover {
    background-color: #8a6f4d;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    gap: 1.5rem;
}

.about img {
    border-radius: 0.5rem;
}

.about-text h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.1rem;
}

.heading {
    text-align: center;
}

.heading h2 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.products-container .box {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: object-fit 500ms;
}

.products-container .box:hover img {
    padding: 10px;
}

.products-container img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
    transition: padding 150ms;
}

.products-container .box h3 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.products-container .box .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.products-container .box .content span {
    padding: 0px 1rem;
    background-color: var(--main-color);
    border-radius: 4px;
    font-weight: 500;
    color: var(--bg-color);
}

.products-container .box .content a {
    padding: 0px 1rem;
    text-transform: uppercase;
    border: 2px solid var(--main-color);
    border-radius: 0.3rem;
    color: var(--text-color);
    transition: all 150ms;
}

.products-container .box .content a:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.customers-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customers-container .box {
    padding: 20px;
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.customers-container .box:hover {
    background: #dfd8ce;
}

.customers-container .box .stars {
    color: var(--main-color);
}

.customers-container .box p {
    font-size: 0.938rem;
}

.customers-container .box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
}

.customers-container .box img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1.5rem;
}

.footer-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box p {
    font-size: 0.938rem;
    margin-bottom: 10px;
    max-width: 550px;
}

.footer-box .social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.footer-box .social a .bx {
    color: var(--text-color);
    padding: 10px;
    border-radius: 0.2rem;
    background-color: var(--second-color);
    font-size: 24px;
}

.footer-box .social a .bx:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.contact span {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.contact span:hover {
    color: var(--main-color);
}

.contact span .bx {
    font-size: 20px;
    margin-right: 1rem;
}

.copyright {
    background-color: var(--second-color);
    padding: 20px;
    text-align: center;
}

@media (max-width: 1058px) {
    header {
        padding: 16px 60px;
    }

    section {
        padding: 50px 60px;
    }

    .home-text h1 {
        font-size: 2.4rem;
    }
}

@media (max-width: 991px) {
    header {
        padding: 16px 4%;
    }

    section {
        padding: 50px 4%;
    }

    .home-text h1 {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    header {
        padding: 12px 4%;
    }

    #menu-icon {
        display: initial;
    }

    .navbar {
        position: absolute;
        display: flex;
        flex-direction: column;
        row-gap: 1.4rem;
        padding: 20px;
        background: var(--second-color);
        top: -570px;
        left: 0;
        right: 0;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transition: 200ms;
    }

    .navbar.active {
        top: 100%;
        opacity: 1;
        pointer-events: initial;
    }

    .navbar a {
        color: var(--text-color);
    }

    .navbar a:hover {
        color: var(--bg-color);
    }

    .about {
        align-items: center;
    }
}

@media (max-width: 360px) {
    header {
        padding: 9px 4%;
    }

    .logo img {
        width: 45px;
    }

    .home-text {
        padding-top: 15px;
    }

    .home-text h1 {
        font-size: 1.4rem;
    }

    .home-text p {
        font-size: 0.8rem;
        font-weight: 300;
    }

    .about-img {
        order: 1;
    }

    .about-text {
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .heading h2 {
        font-size: 1.2rem;
    }
}